body {
    color: white;
    background-color: #1F2937;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    align-items: center;
}

body.light-mode {
    color: #111827;
    background-color: #FFF1F2;
}


#container {
    padding: 52px;
    width: 446px;
    height: 446px;
    align-items: left;
}

.color-highlight {
    color: #7C3AED;
}


#title {
    margin-top: 63px;
    margin-bottom: 0px;
}

h1 {
    font-family: "Karla", sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
    font-size: 20px;
    color: #D5D4D8;
}

body.light-mode p {
  color: #6B7280;
}

button {
    margin-top: 51px;
    margin-bottom: 17px;
    width: 191px;
    height: 42px;
    background-color: #7C3AED;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.divider {
    border-bottom: 1px solid #374151;
    margin-top: 17px;
    margin-bottom: 17px;
}

#section-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

input {
    margin-top: 17px;
    width: 211px;
    height: 39px;
    background-color: #374151;
    font-family: "Inter", sans-serif;
    color:#7C3AED;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    text-align: center;
}

body.light-mode input {
    background-color: #D1D5DB;
}

input:hover {
    background-color:#FDA4AF;
}

body.light-mode input:hover {
    background-color:#FDA4AF;
}

/*TOGGLE SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  background-color:#D5D4D8;
  transition: 0.4s;
  border-radius: 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
}

input:checked + .slider {
  background-color:#7C3AED;
}

input:checked + .slider::before {
  transform: translateX(30px);
}

